.container {
	width:auto;
	height: 1200px;
	background-color: #eee;
}

.gamecontainer {
	position: relative;
	background-color: #fff;
	width: 900px;
	margin-left: 250px;

}

.title {
	position: relative;
	background-color: #6C809A;
	text-align: center;
	font-size: 75px;
	width: 900px;
	height: 100px;
}

.countdown {
	position: relative;
	background-color: #6C809A;
	width: auto;
	height: 50px;
	text-align: center;
	font-size: 30px;
}

.game {
	background-color: #6C809A;
}

.question {
	background-color: #6C809A;
	width: auto;
	height: 150px;
	text-align: center;
}

.answers {
	background-color: #6C809A;
	width: auto;
	height: 300px;
	text-align: center;
	border: 2px solid black;
}

.button0 {
	background-color: #6C809A;
	margin-right: 400px;
	border: 2px solid black;
	width: 300px;
	height: 50px;
	text-align: center;
	margin: 5px 5px 5px 300px;
}

.button1 {
	background-color: #6C809A;
	border: 2px solid black;
	width: 300px;
	height: 50px;
	text-align: center;
	margin: 5px 5px 5px 300px;
}

.button2 {
	background-color: #6C809A;
	border: 2px solid black;
	width: 300px;
	height: 50px;
	text-align: center;
	margin: 5px 5px 5px 300px;
}

.button3 {
	background-color: #6C809A;
	border: 2px solid black;
	width: 300px;
	height: 50px;
	text-align: center;
	margin: 5px 5px 5px 300px;
}

.button5 {
	background-color: #6C809A;
	border: 2px solid black;
	width: 300px;
	height: 50px;
	text-align: center;
	margin: 5px 5px 5px 300px;
}

.button1 p {
	margin-top: 15px;
}

.button2 p {
	margin-top: 15px;
}

.button3 p {
	margin-top: 15px;
}

.button4 p {
	margin-top: 15px;
}

.button5 p {
	margin-top: 15px;
}